Source: gluu-casa-3.1.6
Section: java
Priority: optional
Maintainer: Adrian Alves <adrian@gluu.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://www.gluu.org/

Package: gluu-casa-3.1.6
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, gluu-server-3.1.6
Description: Extensions for gluu-server
 Extensions for Gluu server
